@section scripts{
    <script type="text/javascript" src="~/lib/knockout.js/knockout.js"></script>
    <script type="text/javascript" src="~/js/hypermediaclient.js"></script>
}

<!-- ko if: viewModel.response() !== undefined -->
@*class*@
<div class="row">
    <div class="col-md-12">
        <h2>Class</h2>
    </div>
</div>

<div class="row" data-bind="foreach: viewModel.response().class">
    <div class="col-md-3 col-sm-6 well">
        <span data-bind="text: $data"></span>
    </div>
</div>

@*properties*@
<div class="row">
    <div class="col-md-12">
        <h2>Properties</h2>
    </div>
</div>

<div class="row" data-bind="foreachprop: viewModel.response().properties">
    <div class="col-md-3 col-sm-6 well">
        <span data-bind="text: console.log(key)"></span>
        <span data-bind="text: value"></span>
    </div>
</div>

@*entities*@
<div class="row">
    <div class="col-md-12">
        <h2>Entities</h2>
    </div>
</div>

<div class="row" data-bind="foreach: viewModel.response().entities">
    <div class="col-md-3 col-sm-6 well">

        @* class *@
        <div class="row">
            <div class="col-md-12">
                <p>Class: <span data-bind="text: $data.class"></span></p>
            </div>
        </div>

        @* properties *@
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreachprop: $data.properties">
                        <tr>
                            <td data-bind="text: key"></td>
                            <td data-bind="text: value"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @* links *@
        <div class="row" data-bind="foreach: $data.links">
            <div class="col-md-12">
                <p>
                    Relations: <span data-bind="text: rel"></span>
                </p>
                <p>
                    Link: <a data-bind="click: followLink.bind($data, $parent)">
                        <span data-bind="text: href"></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@*links*@
<div class="row">
    <div class="col-md-12">
        <h2>Links</h2>
    </div>
</div>

<div class="row" data-bind="foreach: viewModel.response().links">
    <div class="col-md-3 col-sm-6 well">
        <p>
            Relations: <span data-bind="text: rel"></span>
        </p>
        <p>
            Link: <a data-bind="click: followLink.bind($data, $parent)">
                <span data-bind="text: href"></span>
            </a>
        </p>
    </div>
</div>
<!-- /ko -->
