@section scripts{
    <script type="text/javascript" src="~/lib/knockout.js/knockout.js"></script>
    <script type="text/javascript" src="~/js/hypermediaclient.js"></script>
}

The name is <span data-bind="text: personName"></span>